* {
	padding: 0;
	margin: 0;
}
canvas {
	background: #eee;
	display: block;
	margin: 100px auto;
}
<<<<<<< HEAD
#wrapper {
	margin: 100px;
	border: 1px;
}

.button_format {

>>>>>>> 069a7b10a53e807c90e6f14b6d578888371b352f
}
